<%- include("partials/header.ejs")  %>
<div class="list">
    <div class="heading">
        <h1>
            <%= listHead %>
        </h1>
    </div>
    

    <% activities.forEach(element => { %>
        <form action="/deleteActivity" method="post">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%= element._id %>" onChange="this.form.submit()">
            <p>
                <%= element.name%>
            </p>
        </div>
        <input type="hidden" name="listName" value="<%= listHead %>"></input>
    </form>
    <% }); %>

    <form action="/" method="POST">
        <div class="ip">
            <input class="text-input" type="text" name="nextTask" autofocus="autofocus" placeholder="  next...">
            <button type="submit" name="list" value="<%= listHead %>">ADD</button>
        </div>        
    </form>
</div>
<%- include("partials/footer.ejs")  %>